/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

p,
span,
a,
div {
  font-family: var(--font-grotesk), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-mono), monospace;
}

.button-fill-effect {
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.4s;
}

.button-fill-effect::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #191919;
  z-index: 0;
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.button-fill-effect:hover::before {
  width: 100%;
}

.button-fill-effect span {
  position: relative;
  z-index: 1;
  transition: color 0.4s;
}

.button-fill-effect:hover span {
  color: #d2f944;
}

.button-fill-effect:hover svg {
  fill: #d2f944 !important;
}

.mobile-svg-container svg {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
